
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background: url('../Assignment6/assignment6_image.jpeg') no-repeat center center fixed;
  background-size: center;
}
  #container {
    padding: 1rem;
  }

  header, main, footer, section {
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  

  h1, h2 {
    margin-top: 0;
    font-weight: bold;
  }
  

  p, li {
    line-height: 1.6;
    font-size: 1rem;
  }
  

  ul {
    padding-left: 1.5rem;
  }
  
  @media screen and (min-width: 769px) {
    #container {
      max-width: 768px;
      margin: 0 auto;
    }
  }
  

  @media screen and (min-width: 1024px) {
    main {
      display: flex;
      gap: 1rem;
    }
  
    section {
      flex: 1;
      background-color: rgba(0, 0, 0, 0.6); 
    }
  
    #someIDName {
      background-color: rgba(0, 0, 0, 0.6); 
    }
  
    #someOtherIDName {
      background-color: rgba(25, 25, 25, 0.7);
    }
  }
  